__pycache__

/cax/tmp
/cax/freecad/Curves

/web/env
/web/static
/web/media
/web/delimit/settings.py
/web/sass/bootstrap/
/web/sass/dart-sass/
/web/core/static/core/css/

*.DS_Store

*.FCStd1
*.blend1

sqlite3.db

/junk/