__pycache__

/cax/tmp
/cax/freecad/Curves


/web/env
/web/static
/web/media
/web/sass/bootstrap/
/web/sass/dart-sass/
/web/core/static/core/css/boot.css
/web/npm/
/web/terminus/
/web/core/static/core/wasm
/web/graph/static/graph/wasm

*.DS_Store
*.FCStd1
*.blend1



