{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Delimit Graph App</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
  <script type='importmap'>{"imports":{
    "delimit":                          "/static/graph/extension/extension.js",
    "delimit/common":                   "/static/common/common.js",
    "delimit/graph":                    "/static/graph/app.js",
    "delimit/geometry":                 "/static/delimit_geometry.js",
    "js-cookie":                        "https://cdn.jsdelivr.net/npm/js-cookie/+esm",
    "zustand/traditional":              "https://cdn.jsdelivr.net/npm/zustand/traditional/+esm",
    "zustand/middleware":               "https://cdn.jsdelivr.net/npm/zustand/middleware/+esm",
    "zustand/shallow":                  "https://cdn.jsdelivr.net/npm/zustand/shallow/+esm",
    "immer":                            "https://cdn.jsdelivr.net/npm/immer/+esm",
    "three":                            "https://cdn.jsdelivr.net/npm/three/+esm",
    "gpu":                              "https://cdn.jsdelivr.net/npm/gpu.js/+esm"
  }}</script>
</head>

<body data-static-url='{% get_static_prefix %}'>
  <div id='app'>
    Graph App
  </div>
  <script src='{% static "graph/app.js" %}' type='module'></script>
</body>

</html>


<!--

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js"></script>
https://cdn.jsdelivr.net/npm/es-module-shims@1.6.2/dist/es-module-shims.min.js


    "three":                            "https://cdn.jsdelivr.net/npm/three/+esm"

        "@apollo/client/core":              "https://cdn.jsdelivr.net/npm/@apollo/client/core/+esm",
    "@apollo/client/link/context":      "https://cdn.jsdelivr.net/npm/@apollo/client/link/context/+esm",
-->