{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Delimit</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' 
        rel='stylesheet' integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous'>
  <link href='{% static "core/core.css" %}' rel='stylesheet'>
  <script type='importmap'>{"imports":{
      "react":     "https://esm.sh/react",
      "react_dom": "https://esm.sh/react-dom",
      "boot/":     "https://esm.sh/react-bootstrap/",
      "three":     "https://esm.sh/three",
      "r3f":       "https://esm.sh/@react-three/fiber",
      "drei":      "https://esm.sh/@react-three/drei",
      "core/":     "{% static "core" %}/",
      "catalog/":  "{% static "catalog" %}/",
      "easel/":    "{% static "easel" %}/"
  }}</script>
  <script id='nav' type='application/json'>{
    "home": "{% url "core:index" %}",
    "main":[
      {"name":"Catalog", "url":"{% url "catalog:list" %}"},
      {"name":"Easel", "url":"{% url "easel:list" %}"}
    ]
  }</script>
</head>

<body>
  <div id='app'></div>
  {% block content %}{% endblock %}
</body>

</html>
