{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang='en' data-bs-theme='dark'>

<head>
  <title>Delimit</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta name='description' content='Footwear Design and Manufacturing'>
  <meta name='keywords' content='Footwear, Shoes, Skates, Design, Manufacturing'>
  <meta name='author' content='Roth Labs LLC'>

  <link rel="apple-touch-icon" sizes="180x180" href='{% static "core/icon/apple-touch-icon.png" %}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{% static "core/icon/favicon-32x32.png" %}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{% static "core/icon/favicon-16x16.png" %}'>
  <link rel="manifest" href='{% static "core/icon/site.webmanifest" %}'>
  <link rel="mask-icon" href='{% static "core/icon/safari-pinned-tab.svg" %}' color="#d63384">
  <link rel="shortcut icon" href='{% static "core/icon/favicon.ico" %}'>
  <meta name="msapplication-TileColor" content="#d63384">
  <meta name="msapplication-config" content='{% static "core/icon/browserconfig.xml" %}'>
  <meta name="theme-color" content="#ffffff">

  <link href='{% static "core/css/boot.css" %}' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css' rel='stylesheet'>
  <script type='importmap'>{"imports":{
    "delimit":                          "https://delimit.art/static/core/core.js",
    "js-cookie":                        "https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/+esm",
    "immer":                            "https://cdn.jsdelivr.net/npm/immer/+esm",
    "zustand/traditional":              "https://cdn.jsdelivr.net/npm/zustand/traditional/+esm",
    "zustand/middleware":               "https://cdn.jsdelivr.net/npm/zustand/middleware/+esm",
    "zustand/shallow":                  "https://cdn.jsdelivr.net/npm/zustand/shallow/+esm",
    "gpu":                              "https://cdn.jsdelivr.net/npm/gpu.js@2.16.0/+esm",
    "react":                            "https://cdn.jsdelivr.net/npm/react@18.2.0/+esm",  
    "react-dom/client":                 "https://cdn.jsdelivr.net/npm/react-dom@18.2.0/client/+esm", 
    "react-router-dom":                 "https://cdn.jsdelivr.net/npm/react-router-dom/+esm",
    "react-bootstrap":                  "https://cdn.jsdelivr.net/npm/react-bootstrap/+esm",
    "three":                            "https://cdn.jsdelivr.net/npm/three@0.158.0/+esm",
    "three/examples/jsm/curves/NURBSCurve":   "https://cdn.jsdelivr.net/npm/three@0.158.0/examples/jsm/curves/NURBSCurve/+esm",
    "three/examples/jsm/curves/NURBSSurface": "https://cdn.jsdelivr.net/npm/three@0.158.0/examples/jsm/curves/NURBSSurface/+esm",
    "three/examples/jsm/geometries/ParametricGeometry": "https://cdn.jsdelivr.net/npm/three@0.158.0/examples/jsm/geometries/ParametricGeometry/+esm",
    "three/examples/jsm/lines/LineGeometry": "https://cdn.jsdelivr.net/npm/three@0.158.0/examples/jsm/lines/LineGeometry/+esm",
    "@react-three/fiber":               "https://cdn.jsdelivr.net/npm/@react-three/fiber@8.15.9/+esm",
    "three-mesh-bvh":                   "https://cdn.jsdelivr.net/npm/three-mesh-bvh/+esm",
    "@react-three/drei/CameraControls": "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/CameraControls/+esm",
    "@react-three/drei/OrbitControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/OrbitControls/+esm",
    "@react-three/drei/Edges":          "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/Edges/+esm",
    "@react-three/drei/useGLTF":        "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/useGLTF/+esm",
    "@react-three/drei/Line":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/Line/+esm",
    "@react-three/drei/Svg":            "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/Svg/+esm",
    "@react-three/drei/PivotControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/web/pivotControls/index/+esm",
    "@react-three/drei/Grid":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/Grid/+esm",
    "@react-three/drei/GizmoHelper":    "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.11/core/GizmoHelper/+esm",
    "webgl-sdf-generator":              "https://cdn.jsdelivr.net/npm/webgl-sdf-generator@1.1.1/+esm",
    "bidi-js":                          "https://cdn.jsdelivr.net/npm/bidi-js@1.0.3/+esm",
    "@monaco-editor/react":             "https://cdn.jsdelivr.net/npm/@monaco-editor/react@4.6.0/+esm",
    "@react-spring/web":                "https://cdn.jsdelivr.net/npm/@react-spring/web/+esm",
    "classnames":                       "https://cdn.jsdelivr.net/npm/classnames/+esm"
  }}</script>
  <script src='https://unpkg.com/holderjs@2.9.9/holder.js'></script>
</head>

<body data-media-url='{% get_media_prefix %}' data-static-url='{% get_static_prefix %}'>
  {{ ctx | json_script:"ctx" }}
  <div id='app' class='position-relative vh-100'></div>
  <script src='{% static "core/app.js" %}' type='module'></script>
  <iframe id='graph_container' sandbox='allow-scripts allow-same-origin' style="display: none;" src='{% host_url "index" host "graph" %}'></iframe>
</body>

</html>


<!-- 

     class='row g-0 vh-100 overflow-hidden'

"lodash":                           "https://cdn.jsdelivr.net/npm/lodash@4.17.21/+esm",
"react-use":                        "https://cdn.jsdelivr.net/npm/react-use@17.4.0/+esm",
"react-beautiful-dnd":              "https://cdn.jsdelivr.net/npm/react-beautiful-dnd/+esm",


"react-bootstrap":                  "https://cdn.jsdelivr.net/npm/react-bootstrap@2.8.0/+esm",

    container-fluid

    <link href='{% static "core/prism/prism.css" %}' rel='stylesheet' />
    <script src='{% static "core/prism/prism.js" %}'></script>

    "react-simple-code-editor":         "https://cdn.jsdelivr.net/npm/react-simple-code-editor@0.13.1/+esm",

  sandbox="allow-scripts"

  <iframe id='sandbox' width="200" height="200" src=''></iframe>

  <iframe id='sandbox' width="1200" height="1200" url='https://example.org/'></iframe>
<div id='app'></div>
  <script src='' type='module'></script>

url='https://delimit.art/sandbox'


sandbox="allow-scripts allow-same-origin"


    "js-cookie":                        "https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/+esm",
    "lodash":                           "https://cdn.jsdelivr.net/npm/lodash@4.17.21/+esm",
    "immer":                            "https://cdn.jsdelivr.net/npm/immer@10.0.2/+esm",
    "zustand":                          "https://cdn.jsdelivr.net/npm/zustand@4.4.1/+esm",
    "zustand/middleware":               "https://cdn.jsdelivr.net/npm/zustand@4.4.1/middleware/+esm",
    "zustand/shallow":                  "https://cdn.jsdelivr.net/npm/zustand@4.4.1/shallow/+esm",
    "gpu":                              "https://cdn.jsdelivr.net/npm/gpu.js@2.16.0/+esm",
    "react":                            "https://cdn.jsdelivr.net/npm/react@18.2.0/+esm",  
    "react-dom/client":                 "https://cdn.jsdelivr.net/npm/react-dom@18.2.0/client/+esm", 
    "react-router-dom":                 "https://cdn.jsdelivr.net/npm/react-router-dom@6.16.0/+esm",
    "react-bootstrap":                  "https://cdn.jsdelivr.net/npm/react-bootstrap@2.8.0/+esm",
    "react-use":                        "https://cdn.jsdelivr.net/npm/react-use@17.4.0/+esm",
    "react-beautiful-dnd":              "https://cdn.jsdelivr.net/npm/react-beautiful-dnd@13.1.1/+esm",
    "three":                            "https://cdn.jsdelivr.net/npm/three@0.157.0/+esm",
    "three/examples/jsm/curves/NURBSCurve":   "https://cdn.jsdelivr.net/npm/three@0.157.0/examples/jsm/curves/NURBSCurve/+esm",
    "three/examples/jsm/curves/NURBSSurface": "https://cdn.jsdelivr.net/npm/three@0.157.0/examples/jsm/curves/NURBSSurface/+esm",
    "three/examples/jsm/geometries/ParametricGeometry": "https://cdn.jsdelivr.net/npm/three@0.157.0/examples/jsm/geometries/ParametricGeometry/+esm",
    "three/examples/jsm/lines/LineGeometry": "https://cdn.jsdelivr.net/npm/three@0.157.0/examples/jsm/lines/LineGeometry/+esm",
    "@react-three/fiber":               "https://cdn.jsdelivr.net/npm/@react-three/fiber@8.14.6/+esm",
    "three-mesh-bvh":                   "https://cdn.jsdelivr.net/npm/three-mesh-bvh@0.6.8/+esm",
    "@react-three/drei/CameraControls": "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/CameraControls/+esm",
    "@react-three/drei/OrbitControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/OrbitControls/+esm",
    "@react-three/drei/Edges":          "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/Edges/+esm",
    "@react-three/drei/useGLTF":        "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/useGLTF/+esm",
    "@react-three/drei/Line":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/Line/+esm",
    "@react-three/drei/Svg":            "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/Svg/+esm",
    "@react-three/drei/PivotControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/web/pivotControls/index/+esm",
    "@react-three/drei/Grid":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/Grid/+esm",
    "@react-three/drei/GizmoHelper":    "https://cdn.jsdelivr.net/npm/@react-three/drei@9.88.4/core/GizmoHelper/+esm",
    "webgl-sdf-generator":              "https://cdn.jsdelivr.net/npm/webgl-sdf-generator@1.1.1/+esm",
    "bidi-js":                          "https://cdn.jsdelivr.net/npm/bidi-js@1.0.3/+esm"


  "js-cookie":                        "https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/+esm",
    "lodash":                           "https://cdn.jsdelivr.net/npm/lodash@4.17.21/+esm",
    "immer":                            "https://cdn.jsdelivr.net/npm/immer@10.0.2/+esm",
    "zustand":                          "https://cdn.jsdelivr.net/npm/zustand@4.4.1/+esm",
    "zustand/middleware":               "https://cdn.jsdelivr.net/npm/zustand@4.4.1/middleware/+esm",
    "zustand/shallow":                  "https://cdn.jsdelivr.net/npm/zustand@4.4.1/shallow/+esm",
    "gpu":                              "https://cdn.jsdelivr.net/npm/gpu.js@2.16.0/+esm",
    "react":                            "https://cdn.jsdelivr.net/npm/react@18.2.0/+esm",  
    "react-dom/client":                 "https://cdn.jsdelivr.net/npm/react-dom@18.2.0/client/+esm", 
    "react-router-dom":                 "https://cdn.jsdelivr.net/npm/react-router-dom@6.16.0/+esm",
    "react-bootstrap":                  "https://cdn.jsdelivr.net/npm/react-bootstrap@2.8.0/+esm",
    "react-use":                        "https://cdn.jsdelivr.net/npm/react-use@17.4.0/+esm",
    "react-beautiful-dnd":              "https://cdn.jsdelivr.net/npm/react-beautiful-dnd@13.1.1/+esm",
    "three":                            "https://cdn.jsdelivr.net/npm/three@0.156.1/+esm",
    "three/examples/jsm/curves/NURBSCurve":   "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/curves/NURBSCurve/+esm",
    "three/examples/jsm/curves/NURBSSurface": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/curves/NURBSSurface/+esm",
    "three/examples/jsm/geometries/ParametricGeometry": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/geometries/ParametricGeometry/+esm",
    "three/examples/jsm/lines/LineGeometry": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/lines/LineGeometry/+esm",
    "@react-three/fiber":               "https://cdn.jsdelivr.net/npm/@react-three/fiber@8.14.2/+esm",
    "three-mesh-bvh":                   "https://cdn.jsdelivr.net/npm/three-mesh-bvh@0.6.7/+esm",
    "@react-three/drei/CameraControls": "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/CameraControls/+esm",
    "@react-three/drei/OrbitControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/OrbitControls/+esm",
    "@react-three/drei/Edges":          "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/Edges/+esm",
    "@react-three/drei/useGLTF":        "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/useGLTF/+esm",
    "@react-three/drei/Line":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/Line/+esm",
    "@react-three/drei/Svg":            "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/Svg/+esm",
    "@react-three/drei/PivotControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/web/pivotControls/index/+esm",
    "@react-three/drei/Grid":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/Grid/+esm",
    "@react-three/drei/GizmoHelper":    "https://cdn.jsdelivr.net/npm/@react-three/drei@9.84.2/core/GizmoHelper/+esm",
    "webgl-sdf-generator":              "https://cdn.jsdelivr.net/npm/webgl-sdf-generator@1.1.1/+esm",
    "bidi-js":                          "https://cdn.jsdelivr.net/npm/bidi-js@1.0.3/+esm"



  "react-dnd-html5-backend":          "https://cdn.jsdelivr.net/npm/react-dnd-html5-backend@16.0.1/+esm",
  "react-dnd":                        "https://cdn.jsdelivr.net/npm/react-dnd@16.0.1/+esm",
      "three/examples/jsm/modifiers/TessellateModifier": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/modifiers/TessellateModifier/+esm",
    "three/examples/jsm/modifiers/SimplifyModifier": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/modifiers/SimplifyModifier/+esm",
    "three/examples/jsm/utils/BufferGeometryUtils": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/utils/BufferGeometryUtils/+esm",
        "three/examples/jsm/math/MeshSurfaceSampler": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/math/MeshSurfaceSampler/+esm",

  react bootstrap @2.7.4
  react router dom @6.14.1
  zimmer @4.3.8
  three @0.154.0
  react three fiber @8.13.5
  drei @9.78.2 

"@apollo/client":                   "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.15/+esm", 
"@apollo/client/link/context":      "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.15/link/context/+esm",
"@apollo/client/link/http":         "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.15/link/http/+esm",

"https://cdn.jsdelivr.net/npm/react-router-dom@6.11.1/+esm"

  "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.14/+esm"
  
    "@react-three/drei/GizmoViewport":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.78.2/core/GizmoViewport/+esm",
  8.13.4 - r3f
  9.78.1 - drei
  "@react-three/drei/PivotControls":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.78.2/web/pivotControls/index/+esm",
"@react-three/drei/Grid":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.78.1/core/Grid/+esm",
"@react-three/drei/GizmoHelper":    "https://cdn.jsdelivr.net/npm/@react-three/drei@9.78.1/core/GizmoHelper/+esm",
    "@react-three/drei/GizmoViewport":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.78.1/core/GizmoViewport/+esm",

  three 0.153.0
  @react-three/fiber@8.13.3
drei@9.77.0

"@react-three/drei/Plane":          "https://cdn.jsdelivr.net/npm/@react-three/drei@9.77.0/core/Plane/+esm",

"webgl-sdf-generator":              "https://cdn.jsdelivr.net/npm/webgl-sdf-generator@1.1.1/+esm",
    "bidi-js":                          "https://cdn.jsdelivr.net/npm/bidi-js@1.0.2/+esm"

  "troika-three-text":                  "https://cdn.jsdelivr.net/npm/troika-three-text@0.48.0-unicode.1/+esm",
  "delaunator":                       "https://cdn.jsdelivr.net/npm/delaunator@5.0.0/+esm"

  "@react-three/drei/Text":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.77.0/core/Text/+esm",
  "three/examples/jsm/utils/BufferGeometryUtils": "https://cdn.jsdelivr.net/npm/three@0.153.0/examples/jsm/utils/BufferGeometryUtils/+esm",
  "@react-three/drei/Points":         "https://cdn.jsdelivr.net/npm/@react-three/drei@9.77.0/core/Points/+esm",
    "@react-three/drei/PointMaterial":  "https://cdn.jsdelivr.net/npm/@react-three/drei@9.77.0/core/PointMaterial/+esm",
    "@react-three/drei/CatmullRomLine": "https://cdn.jsdelivr.net/npm/@react-three/drei@9.77.0/core/CatmullRomLine/+esm", -->


<!-- three 0.152.2 -->
<!-- fiber 8.13.0 -->
<!-- drei 9.68.3 9.74.15 -->

<!-- "@fortawesome/fontawesome-svg-core":"https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-svg-core@6.4.0/+esm", -->

<!-- <link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
crossorigin="anonymous"
/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->


<!-- "@react-three/drei":           "https://cdn.jsdelivr.net/npm/@react-three/drei@9.68.3/+esm", -->

<!-- https://cdn.jsdelivr.net/npm/react@18.2.0/+esm -->



<!-- <script type='importmap'>{"imports":{
  "react":     "https://cdn.jsdelivr.net/npm/react@18.2.0/+esm",  
  "apollo":    "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.14/+esm",
  "aclc":      "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.14/link/context/+esm",
  "aclh":      "https://cdn.jsdelivr.net/npm/@apollo/client@3.7.14/link/http/+esm",
  "cookie":    "https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/+esm",
  "rdc":       "https://cdn.jsdelivr.net/npm/react-dom@18.2.0/client/+esm", 
  "rrd":       "https://cdn.jsdelivr.net/npm/react-router-dom@6.11.1/+esm",
  "three":     "https://cdn.jsdelivr.net/npm/three@0.152.2/+esm",
  "drei":      "https://cdn.jsdelivr.net/npm/@react-three/drei@9.68.3/+esm",
  "r3f":       "https://cdn.jsdelivr.net/npm/@react-three/fiber@8.13.0/+esm",
  "immer":     "https://cdn.jsdelivr.net/npm/immer@10.0.2/+esm",
  "zustand":   "https://cdn.jsdelivr.net/npm/zustand@4.3.8/+esm",
  "zmiddle":   "https://cdn.jsdelivr.net/npm/zustand@4.3.8/middleware/+esm",
  "shallow":   "https://cdn.jsdelivr.net/npm/zustand@4.3.8/shallow/+esm",
  "boot":      "https://cdn.jsdelivr.net/npm/react-bootstrap@2.7.2/+esm"
}}</script> -->


<!-- "react":     "https://esm.sh/react?pin=v121&dev",
      "apollo":    "https://esm.sh/@apollo/client?pin=v121&dev",
      "aclc":      "https://esm.sh/@apollo/client/link/context?pin=v121&dev",
      "cookie":    "https://esm.sh/js-cookie?pin=v121&dev",
      "rdc":       "https://esm.sh/react-dom/client?pin=v121&dev",
      "rrd":       "https://esm.sh/react-router-dom?pin=v121&dev",
      "three":     "https://esm.sh/three@0.151.0?pin=v121&dev",
      "drei":      "https://esm.sh/@react-three/drei@9.65.3?pin=v121&deps=three@0.151.0&dev",
      "r3f":       "https://esm.sh/@react-three/fiber@8.12.0?pin=v121&deps=three@0.151.0&dev",
      "immer":     "https://esm.sh/immer?pin=v121&dev",
      "zustand":   "https://esm.sh/zustand?pin=v121&dev",
      "zmiddle":   "https://esm.sh/zustand/middleware?pin=v121&dev",
      "shallow":   "https://esm.sh/zustand/shallow?pin=v121&dev" -->

<!-- <script type='importmap'>{"imports":{
  "react":     "https://esm.sh/react?pin=v121&dev",
  "rdc":       "https://esm.sh/react-dom/client?pin=v121&dev",
  "rrd":       "https://esm.sh/react-router-dom?pin=v121&dev",
  "apollo":    "https://esm.sh/@apollo/client?pin=v121&dev",
  "aclc":      "https://esm.sh/@apollo/client/link/context?pin=v121&dev",
  "aclh":      "https://esm.sh/@apollo/client/link/http?pin=v121&dev",
  "boot":      "https://esm.sh/react-bootstrap?pin=v121&dev", 
  "three":     "https://esm.sh/three@0.151.0?pin=v121&dev", 
  "r3f":       "https://esm.sh/@react-three/fiber@8.12.0?pin=v121&deps=three@0.151.0&dev",
  "drei":      "https://esm.sh/@react-three/drei@9.65.3?pin=v121&deps=three@0.151.0&dev", 
  "zustand":   "https://esm.sh/zustand?pin=v121&dev",
  "shallow":   "https://esm.sh/zustand/shallow?pin=v121&dev",
  "zmiddle":   "https://esm.sh/zustand/middleware?pin=v121&dev",
  "immer":     "https://esm.sh/immer?pin=v121&dev",
  "cookie":    "https://esm.sh/js-cookie?pin=v121&dev"
}}</script> -->