{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Delimit</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta name='description' content='Footwear Design and Manufacturing'>
  <meta name='keywords' content='Footwear, Shoes, Skates, Design, Manufacturing'>
  <meta name='author' content='Roth Labs LLC'>

  <link rel="apple-touch-icon" sizes="180x180" href='{% static "core/icon/apple-touch-icon.png" %}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{% static "core/icon/favicon-32x32.png" %}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{% static "core/icon/favicon-16x16.png" %}'>
  <link rel="manifest" href='{% static "core/icon/site.webmanifest" %}'>
  <link rel="mask-icon" href='{% static "core/icon/safari-pinned-tab.svg" %}' color="#d63384">
  <link rel="shortcut icon" href='{% static "core/icon/favicon.ico" %}'>
  <meta name="msapplication-TileColor" content="#d63384">
  <meta name="msapplication-config" content='{% static "core/icon/browserconfig.xml" %}'>
  <meta name="theme-color" content="#ffffff">

  <link href='{% static "core/css/boot.css" %}' rel='stylesheet'>
  <script type='importmap'>{"imports":{
      "react":     "https://esm.sh/react?pin=v106&dev",
      "rdc":       "https://esm.sh/react-dom/client?pin=v106&dev",
      "rrd":       "https://esm.sh/react-router-dom?pin=v106&dev",
      "apollo":    "https://esm.sh/@apollo/client?pin=v106&dev",
      "aclc":      "https://esm.sh/@apollo/client/link/context?pin=v106&dev",
      "boot":      "https://esm.sh/react-bootstrap?pin=v106&dev", 
      "three":     "https://esm.sh/three@0.150.0?pin=v106&dev", 
      "r3f":       "https://esm.sh/@react-three/fiber?pin=v106&deps=three@0.150.0&dev",
      "drei":      "https://esm.sh/@react-three/drei?pin=v106&deps=three@0.150.0&dev",
      "cookie":    "https://esm.sh/js-cookie?pin=v106&dev"
  }}</script>
  <script src='https://unpkg.com/holderjs@2.9.9/holder.js'></script>
</head>

<body data-media-url='{% get_media_prefix %}' data-static-url='{% get_static_prefix %}'>
  {{ ctx | json_script:"ctx" }}
  <div id='app'></div>
  <script src='{% static "core/app.js" %}' type='module'></script>
</body>

</html>