{% extends "core/base.html" %}
{% load static %}

{% block head %}
    {{ shoe.data|json_script:"product_data" }}
    {{ shoe.file.url|json_script:"product_url" }}
    {{ shoe.sketch_xy.file.url|json_script:"sketch_xy_url" }}
    {{ shoe.sketch_yz.file.url|json_script:"sketch_yz_url" }}
    <script type="module" src="{% static 'easel/easel.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <h1>{{ shoe.name }}</h1>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
            <a href="{% url 'easel:index' %}">Back</a>
        </div>
        <div id='d3' class="col-sm-4"></div>
        <div id='sketch_yz' class="col-sm-4">
            <image src="{{shoe.sketch_yz.file.url}}"/> 
        </div>
    </div>
{% endblock %}

