{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-sm-4">
            <h1>{{ product.name }}</h1>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
            <a href="{% url 'easel:index' %}">Back</a>
        </div>
        <div id='d3' class="col-sm-6 "></div>
    </div>


    <script type="module">
        import * as d3 from 'd3';
        d3.easel('{{product.glb.url}}',
                '{{product.view_x}}',
                '{{product.view_y}}',
                '{{product.view_z}}',
                '{{product.side_sketch.svg|escapejs}}',
                );
    </script>
    


{% endblock %}