/* import the necessary Bootstrap files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
  primary:    $pink-500,
  secondary:  $gray-600,
  success:    $teal-700,
  info:       $cyan-700,
  warning:    $yellow-500,
  danger:     $red-500,
  light:      $light,
  dark:       $dark
);

/* finally, import Bootstrap */
@import "bootstrap/scss/bootstrap";

.modal{
  word-wrap: break-word !important;  /* might not need !important */
  word-break: break-word !important;
}
.dropdown-menu {
	min-width: 100vw;
  padding: 15px;
}
@include media-breakpoint-up(sm) {
  .dropdown-menu {
      min-width: 80vw;
  }
}
@include media-breakpoint-up(md) {
  .dropdown-menu {
      min-width: 60vw;
  }
}
@include media-breakpoint-up(lg) {
  .dropdown-menu {
      min-width: 40vw;
  }
}
