// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$min-contrast-ratio: 3;
$primary: #ff2391;
$info:    #1ed1b9;
//$enable-rounded: false;

$accordion-padding-x: 0px;
$accordion-padding-y: 0px;

@import "bootstrap/scss/variables";

$border-radius: 1.25rem;

//$btn-border-width: 0px;
//$input-btn-padding-y-sm: .05rem;
//$btn-padding-y-sm: .05rem;

//$input-bg: none;
$input-border-width: 0px;
$input-group-addon-color: var(--#{$prefix}primary);
$input-group-addon-bg: none;//var(--#{$prefix}body-bg);

$form-check-min-height: $font-size-base * $line-height-base * 1.25 !default;
$form-switch-width: 2.25em;
$form-check-input-focus-box-shadow: none;

$accordion-bg: none;
$accordion-button-bg: none;
$accordion-button-color: none;
$accordion-button-active-bg: $accordion-button-bg;
$accordion-button-active-color: $accordion-button-color;
$accordion-button-focus-box-shadow: none;
$accordion-border-width: 0px;

@import "bootstrap/scss/bootstrap";

// 8. Add additional custom code here
//.btn-primary {
//    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
//}



.modal{
    word-wrap: break-word !important;  // maybe this doesn't need !important and should go before bootstrap import 
    word-break: break-word !important;
}
.pen_icon{ 
    cursor: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-vector-pen" viewBox="0 0 16 16"> <path fill="%23ffffff" d="M 2.0036318,1.2502973 12.000126,4.2721455 13.455271,9.5511012 10.785786,12.56844 5.0143315,11.265355 Z"/>  <path fill="%234f4f4f" fill-rule="evenodd" d="m 15.030264,10.245718 a 0.5,0.5 0 0 1 0,0.708 l -4,4 a 0.5,0.5 0 0 1 -0.708,0 l -1.902,-1.902 -3.313,-0.829 a 1.5,1.5 0 0 1 -1.073,-1.024 L 0.93026405,0.85371789 11.276264,3.9577179 a 1.5,1.5 0 0 1 1.023,1.072 l 0.828,3.313 z m -2.908,-1.8000001 -0.793,-3.173 a 0.5,0.5 0 0 0 -0.342,-0.358 l -8.565,-2.57 2.57,8.5670001 a 0.5,0.5 0 0 0 0.357,0.34 l 3.174,0.794 3.6,-3.6000001 z" id="path59" /> <path fill-rule="evenodd" d="m 2.448264,2.4317179 4.228,5.168 a 1,1 0 1 0 1,-1 l -5.168,-4.228 -0.086,-0.026 z" id="path61" /></svg>'), auto;
}
.brush_icon{ 
    cursor: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="bi bi-brush" viewBox="0 0 16 16"> <path fill="%23ffffff" d="M 0.89712581,1.0749162 C 2.5124285,1.8887552 3.9389344,2.7418831 3.9389344,2.7418831 L 4.5399542,3.8575715 4.8344283,5.0430403 6.85311,5.9071964 11.179749,9.7962429 15.158117,15.123805 13.858733,14.705107 8.9709519,11.689889 5.8464316,9.322082 3.7697622,6.9972107 3.210702,6.0148275 1.191555,5.171722 0.43904449,3.9157694 Z"/> <path fill="%234f4f4f" d="m 15.750125,15.720916 a 0.5,0.5 0 0 1 -0.584,0.132 c -3.43,-1.53 -8.1699992,-4.743 -10.6399992,-7.0949998 a 6.067,6.067 0 0 1 -1.534,-2.373 c -0.227,-0.018 -0.538,-0.06 -0.868,-0.16 -0.659,-0.201 -1.47899999,-0.667 -1.73999999,-1.708 a 8.118,8.118 0 0 1 -0.132,-3.078 3.659,3.659 0 0 1 0.135,-0.56200001 1.382,1.382 0 0 1 0.247,-0.466 0.714,0.714 0 0 1 0.28799997,-0.204 0.622,0.622 0 0 1 0.44300002,0.004 c 0.245,0.095 0.38,0.316 0.452,0.461 0.197,0.39400001 0.453,0.62500001 0.826,0.86700001 0.144,0.095 0.297,0.184 0.472,0.287 l 0.198,0.117 c 0.255,0.151 0.54,0.326 0.848,0.546 0.739,0.528 0.925,1.201 0.896,1.746 -0.007,0.126 -0.025,0.243 -0.048,0.348 0.172,0.062 0.38,0.142 0.608,0.238 0.619,0.261 1.419,0.658 2.069,1.187 2.6699992,2.176 6.2059992,6.1799998 8.1039992,9.1169998 a 0.5,0.5 0 0 1 -0.04,0.596 z M 3.9581258,4.6009162 a 1.23,1.23 0 0 0 0.1,-0.419 c 0.013,-0.246 -0.05,-0.573 -0.479,-0.879 -0.275,-0.197 -0.532,-0.355 -0.777,-0.5 l -0.177,-0.105 c -0.181,-0.106 -0.362,-0.213 -0.528,-0.32 a 3.39,3.39 0 0 1 -0.861,-0.76 c -0.112,0.69 -0.111,1.736 0.12,2.657 0.139,0.559 0.569,0.843 1.06,0.993 a 3.122,3.122 0 0 0 0.75,0.126 z m -0.026,1.44 c 0.04,0.12 0.1,0.277 0.183,0.458 a 5.068,5.068 0 0 0 1.1,1.535 c 1.996,1.9 5.5699992,4.4119998 8.6309992,6.0519998 -1.927,-2.59 -4.6599992,-5.5659998 -6.7919992,-7.3019998 -0.543,-0.442 -1.243,-0.795 -1.826,-1.042 -0.288,-0.121 -0.54,-0.214 -0.72,-0.275 h -0.001 l -0.575,0.575 z m -3.03999999,-4.973 0.005,0.007 a 0.031,0.031 0 0 1 -0.004,-0.007 z m 3.04299999,3.582 -10e-4,0.002 v -0.002 z"/> </svg>'), auto;
}
.eraser_icon{ 
    cursor: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-eraser" viewBox="0 0 16 16">  <path fill="%23ffffff" d="M 4.1444281,0.71193302 9.4373271,0.68480611 10.480704,1.6899861 10.457366,14.176599 9.242738,15.409444 2.1207389,15.411307 0.59875716,14.200136 0.74728792,3.8305998 Z"/>  <path fill="%234f4f4f" d="M 11.038576,13.634131 A 2.3158687,2.3158687 0 0 1 8.7230556,15.949648 H 2.3709345 A 2.3158687,2.3158687 0 0 1 0.05541543,13.634131 V 4.6275143 A 2.3158687,2.3158687 0 0 1 0.73336807,2.989948 L 2.9923912,0.73092508 A 2.3158687,2.3158687 0 0 1 4.6299575,0.05297248 H 8.7238742 A 2.3158687,2.3158687 0 0 1 11.039393,2.3684913 V 13.63331 Z m -2.3155204,1.15776 a 1.1579344,1.1579344 0 0 0 1.1577589,-1.15776 V 6.0472845 H 1.213175 v 7.5868465 a 1.1579344,1.1579344 0 0 0 1.1577595,1.15776 z M 1.213175,4.8895249 H 9.8808145 V 2.3693101 A 1.1579344,1.1579344 0 0 0 8.7230556,1.2115505 H 4.6291386 A 1.1579344,1.1579344 0 0 0 3.8103555,1.5505268 L 1.5513326,3.80955 A 1.1579344,1.1579344 0 0 0 1.2123562,4.628333 v 0.2620107 z"/></svg>'), auto;
}


/*
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";
*/